[user]
	email = jumpy634@gmail.com
	name = Vincent Laperle
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = "!f() { /var/home/jumpyvi/.vscode-server/bin/dc96b837cf6bb4af9cd736aa3af08cf8279f7685/node /tmp/vscode-remote-containers-ef5d39ca-49d8-4bd4-9a4e-f8f34f2ea370.js git-credential-helper $*; }; f"
