/* Completely remove the separator and any margin between the system title bar and Firefox window */
#titlebar {
display: none !important;
}

#sidebar-header {
display: none !important;
}

#nav-bar{
background-color: #31363B !important;
}

#PlacesToolbarItems{
background-color: #31363B !important;
}

#PersonalToolbar{
    padding-inline: 0px !important;
}
